html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  color: #ffffdd;
}

body{
  background-color: #ff5da2;
}

#header-nav {
  background-color: #ffebeb;
  border-radius: 0;
  border: 0;
  border: 2px solid  #ffffdd;
}

a.navbar-brand {
  padding-left: 5%;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-link {
  border-bottom: 2px solid #ff8585;
  border-top: 1px solid #ff8585;
}

.container {
  background-color: #b643cd;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4em;
}


h2 {
  padding-top: 4em;
}


p {
  padding: 2em;
  padding-bottom: 4em;
  line-height: 2em;
  text-align: justify;
}

p > a {
  text-decoration: none;
  font-size: small;
  float:right;
}

h2.menu {
  padding: 2.5vw;
}

.container-fluid {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #99ddcc;
}





.row{
  margin-left: 2.5%;
  margin-right: 2.5%;
 
}



